.about-infotext-main {
  font-size: 13px;
  color: $secondary-text-colour;
}

.content-show-toggle-btn {
  display: inline-block;
  color: blue;
}

.content-show-toggle-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about-list-keypoints {
  padding-left: 15px;
  text-align: initial;
}

.flag {
  height: 10px;
  width: 20px;
}
