@import "colours";

#contacts-div {
  height: 100%;
}

#contacts-header-div {
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#contacts-header {
  color: $main-colour;
}

#contacts-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact-form-elem {
  margin-bottom: 20px;
  font-size: 12px;
}

.contact-form-tex-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

#contact-message {
  display: inline-block;
  padding-bottom: 100px;
}

#contacts-submit-btn {
  width: 30%;
  height: 40px;
  background-color: $main-colour;
  color: white;
  letter-spacing: 0.2rem;
  box-shadow: 2px 2px 2px 0px rgb(180, 175, 175);
  border-radius: 5px;
}

#contacts-submit-btn:hover {
  background-color: #3fbfe2;
}
