@import "colours";

#contacts-div {
  height: 400px;
}

#contacts-header-div {
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#contacts-header {
  color: black;
}

#contacts-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact-form-elem {
  margin-bottom: 20px;
}

.contact-form-tex-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
}

#contact-message {
  display: inline-block;
  padding-bottom: 200px;
}
