@import "varsMain";

$nav-bg-colour: $main-colour;
$nav-text-colour: white;
$nav-border-radius: 25px;
$nav-bar-height: 60px;
$nav-bar-top-padding: 11px;
$nav-element-width: 20%;

#nav-div {
  position: relative;
  padding-top: $nav-bar-top-padding;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: $nav-border-radius;
  width: 100%;
  height: $nav-bar-height;
}

.nav-left-element {
  border-top-left-radius: $nav-border-radius;
  border-bottom-left-radius: $nav-border-radius;
}

#nav-right-element {
  border-top-right-radius: $nav-border-radius;
  border-bottom-right-radius: $nav-border-radius;
}

.nav-element {
  cursor: default;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
  height: $nav-bar-height;
  border: none;
  font-size: 14px;
  letter-spacing: $widget-letter-spacing;
  width: $nav-element-width;
  -webkit-transition: background-color $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: background-color $hover-transition-speed,
    color $hover-transition-speed;
}

.nav-element-main {
  height: 100%;
  color: $nav-text-colour;
  background-color: $nav-bg-colour;
}

.nav-element-main:hover {
  background-color: $nav-text-colour;
  color: $nav-bg-colour; //rgb(139, 139, 139);
}

@media only screen and (max-width: 1400px) {
  .nav-left-element {
    border-radius: 0px;
  }
  #nav-right-element {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .nav-element {
    font-size: 12px;
    letter-spacing: 0px;
  }
}
