$nav-bg-colour: $main-colour;
$nav-text-colour: white;
$nav-border-radius: 25px;
$nav-bar-height: 60px;
$nav-bar-top-padding: 0px;
$nav-element-width: 100%;

#nav-div {
  position: fixed;
  padding-top: $nav-bar-top-padding;
  display: flex;
  flex-direction: row;
  // align-content: center;
  // justify-content: center;
  width: 1085px;
  border-radius: $nav-border-radius;
  height: $nav-bar-height;
  z-index: 1;
}

#nav-div-whitespace{
  width: 100%;
  height: $nav-bar-height;
}

.nav-left-element {
  border-top-left-radius: $nav-border-radius;
  border-bottom-left-radius: $nav-border-radius;
}

#nav-right-element {
  border-top-right-radius: $nav-border-radius;
  border-bottom-right-radius: $nav-border-radius;
}

.nav-element {
  cursor: default;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
  height: $nav-bar-height;
  border: none;
  font-size: 14px;
  letter-spacing: $widget-letter-spacing;
  width: $nav-element-width;
  -webkit-transition: background-color $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: background-color $hover-transition-speed,
    color $hover-transition-speed;
}

.nav-element-main {
  height: 100%;
  color: $nav-text-colour;
  background-color: $nav-bg-colour;
}

.nav-element-main:hover {
  background-color: $nav-text-colour;
  color: $nav-bg-colour; //rgb(139, 139, 139);
}

#navbar-spacing {
  height: $nav-bar-height;
}

#three-line-btn{
  display: none;
}

#mobile-nav-div{
  position: relative;
  display: none;
  left: 80%;
  top: 16%;
  z-index: 1;
}

#mobile-nav-options-overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0%;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-content: center;
}

.mobile-nav-elem{
  color: black;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: $widget-letter-spacing;
}

@media only screen and (max-width: 1400px) {
  #nav-div {
    width: 100%;
    left: 0%;
  }
  .nav-left-element {
    border-radius: 0px;
  }
  #nav-right-element {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .nav-element {
    display: none;
  }
  #nav-div{
    background-color: $nav-bg-colour;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
  }
  #three-line-btn{
    display: block;
    position: relative;
    height: 40px;
    width: 60px;
  }
  #three-line-btn:hover{
    cursor: pointer;
  }
  #mobile-nav-div{
    display: block;
  }
  #mobile-nav-options-overlay {
    display: flex;
  }
}
