$nr-of-project-dropdowns: 8;
$nav-dropdown-colour: $secondry-colour; //$secondry-colour;

.dropdown-blank-space {
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: red;
  //opacity: 0;
}

.project-dropdown-element {
  width: 100%;
  height: $nav-bar-height;
  background-color: $nav-dropdown-colour;
  color: $nav-text-colour;
}

.project-dropdown-element:hover {
  background-color: $nav-text-colour;
  color: $nav-dropdown-colour;
}
.dropdown-vertical {
  position: absolute;
  top: $nav-bar-height;
  width: $nav-element-width;
  flex-direction: column;
}

.dropdown-container {
  position: relative;
  overflow: visible;
}

#projects-dropdown {
  display: none;
  color: $nav-text-colour;
  width: 100%;
  height: 1000px; // Adjust nav-dropdown-vertical height when adding elements
}

#projects-dropdown-container:hover #projects-dropdown {
  display: flex;
}
