.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.frame {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; }

#hi-frame {
  position: relative;
  background-color: #38434c; }

#word-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#word {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.letter {
  display: flex;
  height: 70px;
  width: 70px;
  padding: 0 10px; }

.letter-H {
  flex-direction: row;
  justify-content: center; }

#letter-H-middle {
  margin: auto 5px;
  width: 60%;
  height: 10px; }

.letter-H-side {
  height: 100%;
  width: 10px; }

#letter-I {
  flex-direction: column;
  justify-content: center; }

#letter-I-middle {
  margin: 5px auto;
  height: 60%;
  width: 10px; }

.letter-I-top {
  margin: 0 auto;
  height: 10px;
  width: 80%; }

.letter-component {
  border-radius: 5px;
  background-color: #dce1e5;
  box-shadow: 0px 0px 6px 0px #dce1e5; }

.letter-component-1 {
  animation-name: light-1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.letter-component-2 {
  animation-name: light-2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.letter-component-3 {
  animation-name: light-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.letter-component-4 {
  animation-name: light-4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.letter-component-5 {
  animation-name: light-5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.letter-component-6 {
  animation-name: light-6;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

@keyframes light-1 {
  0%,
  20%,
  40%,
  70%,
  90% {
    background-color: #dce1e5;
    box-shadow: 0px 0px 6px 0px #dce1e5; }
  10%,
  30%,
  50%,
  80% {
    background-color: #1e2429;
    box-shadow: 0px 0px 6px 0px #1e2429; } }

@keyframes light-2 {
  0%,
  67%,
  73%,
  79% {
    background-color: #dce1e5;
    box-shadow: 0px 0px 6px 0px #dce1e5; }
  37%,
  70%,
  73%,
  76% {
    background-color: #1e2429;
    box-shadow: 0px 0px 6px 0px #1e2429; } }

@keyframes light-3 {
  60% {
    background-color: #1e2429;
    box-shadow: 0px 0px 6px 0px #1e2429; }
  65% {
    background-color: #dce1e5;
    box-shadow: 0px 0px 6px 0px #dce1e5; } }

@keyframes light-4 {}@keyframes light-5 {
  30%,
  70% {
    background-color: #1e2429;
    box-shadow: 0px 0px 6px 0px #1e2429; }
  74% {
    background-color: #dce1e5;
    box-shadow: 0px 0px 6px 0px #dce1e5; } }

@keyframes light-6 {
  30%,
  60%,
  66% {
    background-color: #1e2429;
    box-shadow: 0px 0px 6px 0px #1e2429; }
  50%,
  63%,
  69% {
    background-color: #dce1e5;
    box-shadow: 0px 0px 6px 0px #dce1e5; } }
