#calculator {
  width: 300px;
  height: 391px;
  background-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  box-shadow: 2px 4px 3px 1px rgba(0, 0, 0, 0.4);
  margin: 0px;
  padding: 0px; }

.calculation-display {
  text-align: right;
  margin: 7px 5px; }

#prev-cal-display {
  font-size: 1rem;
  color: #f4853f; }

#button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr); }

.button-text {
  color: white;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 1.5rem; }

.btn-calc {
  border: 1px solid black;
  padding: 20px 0; }

.btn-calc:hover {
  border: 1px solid white; }

.interface-btn {
  text-align: center; }
