$main-img-width: 400px;
$main-img-phone-width: 350px;

.img-gallery-main-img {
  width: $main-img-width;
  height: 300px;
  margin-top: 20px;
  border-radius: 5px;
}

.img-gallery-main-div {
  background-color: #9b9b9b34;
  width: 450px;
  height: 440px;
  border-radius: 5px;
}

.img-center-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.img-gallery-selection {
  width: 130px;
  height: 100%;
  border-radius: 0px;
  margin-right: 5px;
}

@media only screen and (max-width: 500px) {
  .img-gallery-main-div {
    width: 370px;
    height: 370px;
  }

  .img-gallery-main-img {
    width: $main-img-phone-width;
    height: 250px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .img-selector {
    margin: 10px;
    width: $main-img-phone-width;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }
  .img-gallery-selection {
    width: 113px;
    height: 100%;
    border-radius: 0px;
    margin-right: 5px;
  }
}
