$main-img-width: 450px;
$main-img-phone-width: 350px;

.img-gallery-main-img {
  width: $main-img-width;
  height: 300px;
  border-radius: 5px;
}

.img-gallery-main-div {
  position: relative;
  width: $main-img-width;
  height: auto;
  border-radius: 5px;
  background-color: green;
}

.img-center-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.gallery-arrow {
  position: absolute;
  top: 200px;
  height: 80px;
  width: 80px;
}

.gallery-arrow-right {
  margin: 0px 30%;
}

.gallery-arrow-left {
  margin: 0px -30%;
  transform: rotateZ(180deg);
}

.img-gallery-selection {
  width: 130px;
  height: 100%;
  border-radius: 0px;
  margin-right: 5px;
}

@media only screen and (max-width: 700px) {
  .gallery-arrow {
    top: 150px;
  }
  .img-gallery-main-div {
    width: 100%;
  }

  .img-gallery-main-img {
    height: auto;
    border-radius: 5px;
  }
  .img-selector {
    width: $main-img-phone-width;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }
  .img-gallery-selection {
    width: 113px;
    border-radius: 0px;
    margin-right: 5px;
  }
}
