.App {
  width: 1200px;
  margin: 0 auto;
}

#content-bg {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-content {
  margin: 0 20px;
  width: 70%;
}

#right-info-sidebar {
  width: 300px;
  text-align: justify;
  margin: 0 20px;
}

#about-infotext-main {
  font-size: 13px;
  color: $secondary-text-colour;
}

.page-main-text {
  text-align: justify;
}

#extra-space {
  height: 100px;
}

@media only screen and (max-width: 1400px) {
  .App {
    width: 100%;
  }
  .page-content {
    width: 80%;
  }
  #content-bg {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #right-info-sidebar {
    display: none;
  }
  .page-content {
    width: 90%;
    margin: 0px;
  }
}
