.App {
  width: 1000px;
  margin: 0 auto;
}

#content-bg {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-content {
  width: 90%;
  margin: 0 20px;
}

#right-info-sidebar {
  width: 400px;
  text-align: justify;
  margin: 0 20px;
}

.page-main-text {
  text-align: justify;
}

@media only screen and (max-width: $max-screen-size) {
}

@media only screen and (max-width: $medium-screen-size) {
  .App {
    width: 100%;
  }
  .page-content {
    width: 80%;
  }
  #content-bg {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #right-info-sidebar {
    display: none;
  }
  .page-content {
    width: 80%;
    margin: 0px;
  }
}
