.App {
  width: 1200px;
  margin: 0 auto;
}

#content-bg {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 90%;
}

.page-content {
  margin: 0 10px;
  width: 100%;
  //position: relative;
}

#right-info-sidebar {
  width: 25%;
  text-align: justify;
  box-sizing: border-box;
  margin: 0 10px;
}

.page-main-text {
  text-align: justify;
}

#extra-space {
  height: 100px;
}

@media only screen and (max-width: 1400px) {
  .App {
    width: 100%;
  }
  .page-content {
    width: 80%;
  }
  #content-bg {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #right-info-sidebar {
    display: none;
  }
  .page-content {
    width: 90%;
    margin: 0px;
  }
}
