@import "navBar";

.project-dropdown-element {
  width: 50%;
  height: $nav-bar-height;
  background-color: $nav-dropdown-colour;
  color: $nav-text-colour;
}

.project-dropdown-element:hover {
  background-color: $nav-text-colour;
  color: $nav-dropdown-colour;
}

.dropdown-vertical {
  position: absolute;
  top: $nav-bar-height;
  width: $nav-element-width;
  letter-spacing: 0.2rem;
  flex-direction: column;
}

.dropdown-container {
  position: relative;
  overflow: visible;
}

#projects-dropdown {
  display: none;
  color: $nav-text-colour;
  width: 100% * 2;
  height: $nav-bar-height * 3; // Adjust nav-dropdown-vertical height when adding elements
}

#projects-dropdown-container:hover #projects-dropdown {
  display: flex;
}

#secondary-dropdown-container {
  width: $nav-element-width;
}

#games-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 0%;
  left: 50%;
  height: $nav-bar-height * 2;
}

#games-dropdown-div:hover #games-dropdown {
  display: flex;
}

#games-dropdown:hover #projects-dropdown {
  display: flex;
}
