.logo-img {
  position: absolute;
  left: 0%;
}

.social-media-logo {
  margin-top: 30px;
  height: 60px;
  width: 60px;
}

@media only screen and (max-width: 600px) {
  #she-town-logo {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 400px) {
  #she-town-logo {
    width: 25px;
    height: 25px;
    left: -5%;
  }
}
