.logo-img {
  position: absolute;
  left: 0%;
}

.social-media-logo {
  position: relative;
  margin-top: 30px;
  height: 60px;
  width: 60px;
  left: 5%;
  -webkit-transition: left $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: left $hover-transition-speed, color $hover-transition-speed;
}

.social-media-logo:hover {
  left: 10%;
}

@media only screen and (max-width: 600px) {
  #she-town-logo {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 400px) {
  #she-town-logo {
    width: 25px;
    height: 25px;
    left: -5%;
  }
}
