$nav-bg-colour: #3bb5d6;
$nav-dropdown-colour: #4dd6fc;
$nav-text-colour: white;
$nav-border-radius: 25px;
$hover-transition-speed: 0.5s;
$nav-bar-height: 60px;
$nav-bar-top-padding: 10px;
$nav-element-width: 20%;

#nav-div {
  position: relative;
  padding: $nav-bar-top-padding 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: $nav-border-radius;
  width: 100%;
  height: $nav-bar-height;
}

.nav-left-element {
  border-top-left-radius: $nav-border-radius;
  border-bottom-left-radius: $nav-border-radius;
}

#nav-right-element {
  border-top-right-radius: $nav-border-radius;
  border-bottom-right-radius: $nav-border-radius;
}

.nav-element {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: auto 0;
  height: 100%;
  border: none;
  font-size: 12px;
  letter-spacing: 0.2rem;
  width: $nav-element-width;
  -webkit-transition: background-color $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: background-color $hover-transition-speed,
    color $hover-transition-speed;
}

.nav-element-main {
  height: 100%;
  color: $nav-text-colour;
  background-color: $nav-bg-colour;
}

.nav-element-main:hover {
  background-color: $nav-text-colour;
  color: $nav-bg-colour; //rgb(139, 139, 139);
}

.project-dropdown-element {
  width: 50%;
  height: $nav-bar-height;
  background-color: $nav-dropdown-colour;
  color: $nav-text-colour;
}

.project-dropdown-element:hover {
  background-color: $nav-text-colour;
  color: $nav-dropdown-colour;
}

.dropdown-vertical {
  position: absolute;
  top: $nav-bar-height;
  width: $nav-element-width;
  letter-spacing: 0.2rem;
  flex-direction: column;
}

.dropdown-container {
  position: relative;
  overflow: visible;
}

#projects-dropdown {
  display: none;
  color: $nav-text-colour;
  width: 100% * 2;
  height: $nav-bar-height * 3; // Adjust nav-dropdown-vertical height when adding elements
}

#projects-dropdown-container:hover #projects-dropdown {
  display: flex;
}

#secondary-dropdown-container {
  width: $nav-element-width;
}

#games-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 50%;
  height: $nav-bar-height;
}

#games-dropdown-div:hover #games-dropdown {
  display: flex;
}

#games-dropdown:hover #projects-dropdown {
  display: flex;
}
