$nav-bg-colour: #3bb5d6;
$nav-dropdown-colour: #1ac4f3;
$nav-text-colour: white;
$nav-border-radius: 25px;
$hover-transition-speed: 0.5s;
$nav-bar-height: 50px;
$nav-bar-top-padding: 10px;
$nav-element-width: 20%;

#nav-div {
  position: relative;
  padding: $nav-bar-top-padding 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: $nav-border-radius;
  width: 100%;
  height: $nav-bar-height;
}

#nav-left-element {
  border-top-left-radius: $nav-border-radius;
  border-bottom-left-radius: $nav-border-radius;
}

#nav-right-element {
  border-top-right-radius: $nav-border-radius;
  border-bottom-right-radius: $nav-border-radius;
}

.nav-element {
  margin: auto 0;
  height: 100%;
  border: none;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2rem;
  width: $nav-element-width;
  -webkit-transition: background-color $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: background-color $hover-transition-speed,
    color $hover-transition-speed;
}

.nav-element-main {
  height: 100%;
  color: $nav-text-colour;
  background-color: $nav-bg-colour;
}

.nav-element:hover {
  background-color: $nav-text-colour;
  color: $nav-bg-colour; //rgb(139, 139, 139);
}

.nav-element-dropdown {
  width: 100%;
  height: $nav-bar-height * 3;
  color: $nav-text-colour;
  background-color: $nav-dropdown-colour;
}

.nav-element-dropdown:hover {
  color: $nav-dropdown-colour;
}

.nav-dropdown-vertical {
  display: none;
  padding: $nav-bar-top-padding 0;
  position: absolute;
  width: $nav-element-width;
  letter-spacing: 0.2rem;
  flex-direction: column;
}

#projects-dropdown {
  top: $nav-bar-height;
  height: $nav-bar-height * 3; // Adjust nav-dropdown-vertical height when adding elements
}

#nav-element-projects:hover #projects-dropdown {
  display: flex;
}
