$social-media-position-switch-screen-size: 1400px;

#social-media-sidebar {
  position: fixed;
  background-color: $outline-colour;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 305px;
  left: -50px;
  bottom: 30%;
  border-radius: 0px 15px 15px 0;
  animation-name: left-side-fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation: left-side-fade-in 1s normal forwards;
  -moz-animation: left-side-fade-in 1s normal forwards;
  -o-animation: left-side-fade-in 1s normal forwards;
}

@keyframes left-side-fade-in {
  from {
    left: -50px;
  }
  to {
    left: 0px;
  }
}

@media only screen and (max-width: $social-media-position-switch-screen-size) {
  #social-media-sidebar {
    flex-direction: row;
    width: 305px;
    height: 80px;
    left: 50%;
    margin-left: -152px;
    bottom: 0%;
    border-radius: 15px 15px 0px 0;
    animation-name: left-side-fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation: left-side-fade-in 1s normal forwards;
    -moz-animation: left-side-fade-in 1s normal forwards;
    -o-animation: left-side-fade-in 1s normal forwards;
  }
  @keyframes left-side-fade-in {
    from {
      bottom: -50px;
    }
    to {
      bottom: -10px;
    }
  }
}
