$main-colour: #2caccf;
$secondry-colour: #4dd6fc;
$outline-colour: #dadada;

$hover-transition-speed: 0.5s;

$widget-letter-spacing: 0.2rem;
$header-letter-spacing: 0.1rem;

$medium-screen-size: 1000px;
$small-screen-size: 600px;
$phone-screen-size: 400px;

@mixin main-widget-colour-transition {
  -webkit-transition: background-color $hover-transition-speed,
    color $hover-transition-speed; /* Safari */
  transition: background-color $hover-transition-speed,
    color $hover-transition-speed;
}
