@import "varsMain";
@import "app";
@import "NavBar/navBar";
@import "NavBar/projectsDropdown";
@import "NavBar/secondaryDropdowns";
@import "NavBar/gamesDropdown";
@import "NavBar/dropdownArrows";
@import "PageContent/about";
@import "PageContent/contact";
@import "PageContent/blogPost";
@import "socialMedia";
@import "images";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-div {
  cursor: pointer;
}
