@import "varsMain";
@import "app";
@import "NavBar/navBar";
@import "NavBar/gamesDropdown";
@import "PageContent/contact";
@import "PageContent/blogPost";
@import "socialMedia";
@import "images";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
