#nav-div {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  height: 60px; }

.nav-left-element {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

#nav-right-element {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.nav-element {
  cursor: default;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: auto 0;
  height: 100%;
  border: none;
  font-size: 12px;
  letter-spacing: 0.2rem;
  width: 20%;
  -webkit-transition: background-color 0.5s, color 0.5s;
  /* Safari */
  transition: background-color 0.5s, color 0.5s; }

.nav-element-main {
  height: 100%;
  color: white;
  background-color: #3bb5d6; }

.nav-element-main:hover {
  background-color: white;
  color: #3bb5d6; }

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.arrow {
  border-color: #245866;
  border-style: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: absolute;
  right: 25%;
  padding: 3px;
  -webkit-transition: border-color 0.5s;
  /* Safari */
  transition: border-color 0.5s; }

.project-dropdown-element {
  width: 100%;
  height: 60px;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element:hover {
  background-color: white;
  color: #4dd6fc; }

.dropdown-vertical {
  position: absolute;
  top: 60px;
  width: 20%;
  letter-spacing: 0.2rem;
  flex-direction: column; }

.dropdown-container {
  position: relative;
  overflow: visible; }

#projects-dropdown {
  display: none;
  color: white;
  width: 100%;
  height: 180px; }

#projects-dropdown-container:hover #projects-dropdown {
  display: flex; }

#secondary-dropdown-container {
  width: 20%; }

.scndry-dd {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 0%;
  left: 100%; }

#games-dropdown {
  height: 120px;
  width: 100%; }

#games-dropout:hover #games-dropdown-div {
  background: white;
  color: #4dd6fc; }

#games-dropdown-div:hover ~ #games-dropdown {
  display: flex; }

.scndry-dd:hover {
  display: flex; }

.scndry-dd-elem {
  background: #e9e7e7; }

.btn-div {
  cursor: pointer; }

.logo-img {
  position: absolute;
  left: 0%; }

#she-town-text {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
  line-height: 20px;
  letter-spacing: 0.2rem;
  margin-left: 35px;
  text-transform: uppercase;
  color: #8e35e0; }

#indestructible-dropdown {
  color: #09a83e; }

@media only screen and (max-width: 1000px) {
  .nav-left-element {
    border-radius: 0px; }
  #nav-right-element {
    border-radius: 0px; } }

@media only screen and (max-width: 1200px) {
  .arrow {
    display: none; } }

@media only screen and (max-width: 600px) {
  #she-town-text {
    font-size: 10px;
    margin-left: 20px; }
  #she-town-logo {
    width: 25px;
    height: 25px; } }

@media only screen and (max-width: 400px) {
  #she-town-text {
    margin-left: 20px;
    line-height: 10px;
    font-size: 6px; }
  #she-town-logo {
    width: 25px;
    height: 25px;
    left: -5%; }
  .nav-element {
    font-size: 12px;
    letter-spacing: 0px; } }

.App {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 1000px) {
  .App {
    width: 100%; } }

.blog-date {
  font-style: italic;
  color: rgba(105, 105, 105, 0.692); }

.blog-post-div {
  width: 60%;
  margin: 0 auto; }

@media only screen and (max-width: 800px) {
  .blog-post-div {
    width: 80%; } }

.logo-img {
  position: absolute;
  left: 0%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
