#nav-div {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  height: 60px; }

.nav-left-element {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

#nav-right-element {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.nav-element {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: auto 0;
  height: 100%;
  border: none;
  font-size: 12px;
  letter-spacing: 0.2rem;
  width: 20%;
  -webkit-transition: background-color 0.5s, color 0.5s;
  /* Safari */
  transition: background-color 0.5s, color 0.5s; }

.nav-element-main {
  height: 100%;
  color: white;
  background-color: #3bb5d6; }

.nav-element-main:hover {
  background-color: white;
  color: #3bb5d6; }

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.arrow {
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  -webkit-transition: border-color 0.5s;
  /* Safari */
  transition: border-color 0.5s; }

#projects-dropdown-container:hover #projects-arrow {
  border-color: #3bb5d6; }

#games-dropdown-div:hover #games-arrow {
  border-color: #4dd6fc; }

.dropdown-container {
  position: relative;
  overflow: visible; }

.dropdown-vertical {
  position: absolute;
  top: 60px;
  width: 20%;
  letter-spacing: 0.2rem; }

#projects-dropdown {
  display: none;
  color: white;
  width: 200%;
  height: 300px;
  grid-template-rows: repeat(5, 60px);
  grid-template-columns: 50% 50%;
  background-color: purple; }

.project-dropdown-element-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element-1:hover {
  background-color: white;
  color: #4dd6fc; }

.secondary-dropdown-elem-1 {
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.secondary-dropdown-elem-1:hover {
  background-color: white;
  color: #4dd6fc; }

.project-dropdown-element-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element-2:hover {
  background-color: white;
  color: #4dd6fc; }

.secondary-dropdown-elem-2 {
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.secondary-dropdown-elem-2:hover {
  background-color: white;
  color: #4dd6fc; }

.project-dropdown-element-3 {
  grid-row-start: 3;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element-3:hover {
  background-color: white;
  color: #4dd6fc; }

.secondary-dropdown-elem-3 {
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.secondary-dropdown-elem-3:hover {
  background-color: white;
  color: #4dd6fc; }

.project-dropdown-element-4 {
  grid-row-start: 4;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element-4:hover {
  background-color: white;
  color: #4dd6fc; }

.secondary-dropdown-elem-4 {
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.secondary-dropdown-elem-4:hover {
  background-color: white;
  color: #4dd6fc; }

.project-dropdown-element-5 {
  grid-row-start: 5;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.project-dropdown-element-5:hover {
  background-color: white;
  color: #4dd6fc; }

.secondary-dropdown-elem-5 {
  width: 100%;
  height: 100%;
  background-color: #4dd6fc;
  color: white; }

.secondary-dropdown-elem-5:hover {
  background-color: white;
  color: #4dd6fc; }

#projects-dropdown-container:hover #projects-dropdown {
  display: grid; }

#secondary-dropdown-container {
  width: 20%; }

#games-dropdown {
  display: none;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  width: 100%;
  height: 100%;
  background-color: #4dd6fc; }

#games-dropdown-div:hover ~ #games-dropdown {
  display: block; }

#games-dropdown:hover {
  display: block; }

.App {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 800px) {
  .App {
    width: 100%; } }

.blog-date {
  font-style: italic;
  color: rgba(105, 105, 105, 0.692); }

.blog-post-div {
  width: 60%;
  margin: 0 auto; }

@media only screen and (max-width: 800px) {
  .blog-post-div {
    width: 80%; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
