#form-background {
  background-color: hsla(177, 3%, 61%, 0.47);
}

#form-main {
  width: 60%;
  display: flex;
  margin: auto;
  text-align: center;
  border-radius: 25px;
}

#item-name-form {
  width: 80%;
}

#item-expense-form {
  width: 30%;
}

#item-quantity-form {
  width: 30%;
}

.form-element {
  margin: 1.8em 0;
}

.form-label {
  margin: 30px 10px;
  padding: 5px 0;
  width: 25%;
  background-color: hsla(228, 0%, 61%, 1);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.form-buttons-background {
  padding-left: 10px;
  display: inline;
  margin: auto 0;
  flex-direction: column;
}

.submits {
  padding: 0 10px;
  width: 100px;
  margin: auto 0;
  margin-left: 10px;
  text-transform: uppercase;
}

#warning-message {
  color: #d9534f;
  background-color: white;
  display: inline;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #form-main {
    width: 90%;
  }

  .form-label {
  }

  .form-element {
  }
}
