#form-background {
  background-color: #cccccc;
}

#form-main {
  width: 60%;
  display: flex;
  margin: auto;
  text-align: center;
  border-radius: 25px;
}

#item-name-form {
  width: 40%;
}

#item-expense-form {
  width: 10%;
}

#item-quantity-form {
  width: 10%;
}

.form-element {
  margin: 1.8em 0;
}

.form-label {
  margin: 30px 10px;
  width: 120px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: hsla(228, 0%, 61%, 1);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.form-buttons-background {
  padding-left: 10px;
  display: inline;
  margin: auto 0;
  flex-direction: column;
}

.submits {
  display: inline;
  line-height: 100px;
  width: 60px;
  height: 37px;
  margin: auto 0;
  margin-left: 10px;
  text-align: center;
}

#warning-message {
  color: #d9534f;
  background-color: white;
  display: inline;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  #form-main {
    width: 95%;
  }
}
