$letter-color: #1e2429;
$letter-light-color: #dce1e5;
$letter-width: 70px;
$letter-height: 70px;
$letter-middle-component-extent: 60%;
$default-letter-box-shadow: 0px 0px 6px 0px #1e2429;
$light-letter-box-shadow: 0px 0px 6px 0px #dce1e5;
$letter-flicker-speed: 10%;
$component-thickness: 10px;
$component-margin: 5px;

.frame {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#hi-frame {
  position: relative;
  background-color: #38434c;
}

#word-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  display: flex;
  height: $letter-height;
  width: $letter-width;
  padding: 0 10px;
}

.letter-H {
  flex-direction: row;
  justify-content: center;
}

#letter-H-middle {
  margin: auto $component-margin;
  width: $letter-middle-component-extent;
  height: $component-thickness;
}

.letter-H-side {
  height: 100%;
  width: $component-thickness;
}

#letter-I {
  flex-direction: column;
  justify-content: center;
}

#letter-I-middle {
  margin: $component-margin auto;
  height: $letter-middle-component-extent;
  width: $component-thickness;
}

.letter-I-top {
  margin: 0 auto;
  height: $component-thickness;
  width: 80%;
}

.letter-component {
  border-radius: 5px;
  background-color: $letter-light-color;
  box-shadow: $light-letter-box-shadow;
}

@for $i from 1 through 6 {
  .letter-component-#{$i} {
    animation-name: light-#{$i};
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

@mixin on-component-lit {
  background-color: $letter-color;
  box-shadow: $default-letter-box-shadow;
}
@mixin on-component-unlit {
  background-color: $letter-light-color;
  box-shadow: $light-letter-box-shadow;
}

@keyframes light-1 {
  0%,
  20%,
  40%,
  70%,
  90% {
    @include on-component-unlit();
  }
  10%,
  30%,
  50%,
  80% {
    @include on-component-lit();
  }
}

@keyframes light-2 {
  0%,
  67%,
  73%,
  79% {
    @include on-component-unlit();
  }
  37%,
  70%,
  73%,
  76% {
    @include on-component-lit();
  }
}

@keyframes light-3 {
  60% {
    @include on-component-lit();
  }
  65% {
    @include on-component-unlit();
  }
}

@keyframes light-4 {
}

@keyframes light-5 {
  30%,
  70% {
    @include on-component-lit();
  }
  74% {
    @include on-component-unlit();
  }
}

@keyframes light-6 {
  30%,
  60%,
  66% {
    @include on-component-lit();
  }
  50%,
  63%,
  69% {
    @include on-component-unlit();
  }
}
