$letter-color: #dce1e5;
$letter-light-color: #a0a3a5;
$letter-width: 70px;
$letter-height: 70px;
$letter-middle-component-extent: 60%;
$letter-flicker-speed: 10%;
$component-thickness: 10px;
$component-margin: 5px;

.frame {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#hi-frame {
  position: relative;
  background-color: #38434c;
}

#word-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  display: flex;
  height: $letter-height;
  width: $letter-width;
  padding: 0 10px;
}

.letter-H {
  flex-direction: row;
  justify-content: center;
}

#letter-H-middle {
  margin: auto $component-margin;
  width: $letter-middle-component-extent;
  height: $component-thickness;
}

.letter-H-side {
  height: 100%;
  width: $component-thickness;
}

#letter-I {
  flex-direction: column;
  justify-content: center;
}

#letter-I-middle {
  margin: $component-margin auto;
  height: $letter-middle-component-extent;
  width: $component-thickness;
}

.letter-I-top {
  margin: 0 auto;
  height: $component-thickness;
  width: 80%;
}

.letter-component {
  border-radius: 5px;
  background-color: $letter-color;
}

@for $i from 1 through 6 {
  .letter-component-#{$i} {
    animation-name: light-#{$i};
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

@keyframes light-1 {
  0% {
    background-color: $letter-color;
  }
  10% {
    background-color: $letter-light-color;
  }
  20% {
    background-color: $letter-color;
  }
  30% {
    background-color: $letter-light-color;
  }
  40% {
    background-color: $letter-color;
  }
  50% {
    background-color: $letter-light-color;
  }
  70% {
    background-color: $letter-color;
  }
  80% {
    background-color: $letter-light-color;
  }
  90% {
    background-color: $letter-color;
  }
}

@keyframes light-2 {
  0% {
    background-color: $letter-color;
  }
  37% {
    background-color: $letter-light-color;
  }
  67% {
    background-color: $letter-color;
  }
  70% {
    background-color: $letter-light-color;
  }
  73% {
    background-color: $letter-color;
  }
  76% {
    background-color: $letter-light-color;
  }
  79% {
    background-color: $letter-color;
  }
}

@keyframes light-3 {
  60% {
    background-color: $letter-light-color;
  }
  65% {
    background-color: $letter-color;
  }
}

@keyframes light-4 {
}

@keyframes light-5 {
  30% {
    background-color: $letter-light-color;
  }
  70% {
    background-color: $letter-color;
  }
  74% {
    background: $letter-light-color;
  }
}

@keyframes light-6 {
  30% {
    background-color: $letter-light-color;
  }
  50% {
    background-color: $letter-color;
  }
  60% {
    background-color: $letter-light-color;
  }
  63% {
    background-color: $letter-color;
  }
  66% {
    background-color: $letter-light-color;
  }
  69% {
    background-color: $letter-color;
  }
}
