$letter-color: #a0a3a5;
$letter-width: 70px;
$letter-height: 70px;
$component-thickness: 10px;
$component-margin: 5px;

.frame {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#hi-frame {
  position: relative;
  background-color: gray;
}

#word-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#word {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  display: flex;
  height: $letter-height;
  width: $letter-width;
}

.letter-H {
  flex-direction: row;
  justify-content: center;
}

#letter-H-middle {
  margin: auto $component-margin;
  width: 100%;
  height: $component-thickness;
}

.letter-H-side {
  height: 100%;
  width: $component-thickness;
}

#letter-I {
  flex-direction: column;
  justify-content: center;
}

#letter-I-middle {
  margin: $component-margin auto;
  height: 100%;
  width: $component-thickness;
}

.letter-I-top {
  margin: 0 auto;
  height: $component-thickness;
  width: 80%;
}

.letter-component {
  border-radius: 5px;
  background-color: $letter-color;
}
