$kid-head-size: 82px;
$skin-color: pink;

#kid-p-background {
  background-color: #c481fb;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.kid-black-border {
  border-color: black;
  border-style: solid;
  border-width: medium;
}

#kid-main {
  height: 80%;
  width: 65%;
  margin: 0 auto;
  padding-top: 120px;
}

#eyes {
  height: 60%;
  width: 100%;
  background-color: black;
  border-radius: 15px;
  display: flex;
  direction: row;
}

#kid-face {
  background-color: $skin-color;
  border-radius: 40px;
  height: $kid-head-size;
  width: $kid-head-size;
  margin: 0 auto;
}

#kid-face-features {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  position: absolute;
  transform: translate(60px, 32px);
  background-color: $skin-color;
}

#kid-eye-1 {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  #kid-eye-2 {
    width: 80%;
    height: 100%;
  }
}

#kid-shirt {
  border-radius: 30px 30px 0 0;
  background-color: #ace9e7;
  width: $kid-head-size;
  height: 20%;
  margin: 0 auto;
}
