#ripples-bg {
  background-color: brown;
}

@mixin circle() {
}

.ripple-circle {
  background-color: #f4ad42;
  position: relative;
  width: 80px;
  height: 50px;
  border-radius: 100px;
  margin: auto 0px;
}

.water-circle {
  background-color: #f44242;
  @include circle();
  width: 15px;
  height: 15px;
  border-radius: 25px;
  margin: auto;
}

#ripple-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  //flex-direction: column;
}
