.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.frame {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#hi-frame {
  position: relative;
  background-color: #38434c;
}

#word-vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 70px;
  padding: 0 10px;
}

.letter-H {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#letter-H-middle {
  margin: auto 5px;
  width: 60%;
  height: 10px;
}

.letter-H-side {
  height: 100%;
  width: 10px;
}

#letter-I {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#letter-I-middle {
  margin: 5px auto;
  height: 60%;
  width: 10px;
}

.letter-I-top {
  margin: 0 auto;
  height: 10px;
  width: 80%;
}

.letter-component {
  border-radius: 5px;
  background-color: #dce1e5;
}

.letter-component-1 {
  -webkit-animation-name: light-1;
          animation-name: light-1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.letter-component-2 {
  -webkit-animation-name: light-2;
          animation-name: light-2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.letter-component-3 {
  -webkit-animation-name: light-3;
          animation-name: light-3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.letter-component-4 {
  -webkit-animation-name: light-4;
          animation-name: light-4;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.letter-component-5 {
  -webkit-animation-name: light-5;
          animation-name: light-5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.letter-component-6 {
  -webkit-animation-name: light-6;
          animation-name: light-6;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes light-1 {
  0% {
    background-color: #dce1e5;
  }
  10% {
    background-color: #a0a3a5;
  }
  20% {
    background-color: #dce1e5;
  }
  30% {
    background-color: #a0a3a5;
  }
  40% {
    background-color: #dce1e5;
  }
  50% {
    background-color: #a0a3a5;
  }
  70% {
    background-color: #dce1e5;
  }
  80% {
    background-color: #a0a3a5;
  }
  90% {
    background-color: #dce1e5;
  }
}

@keyframes light-1 {
  0% {
    background-color: #dce1e5;
  }
  10% {
    background-color: #a0a3a5;
  }
  20% {
    background-color: #dce1e5;
  }
  30% {
    background-color: #a0a3a5;
  }
  40% {
    background-color: #dce1e5;
  }
  50% {
    background-color: #a0a3a5;
  }
  70% {
    background-color: #dce1e5;
  }
  80% {
    background-color: #a0a3a5;
  }
  90% {
    background-color: #dce1e5;
  }
}

@-webkit-keyframes light-2 {
  0% {
    background-color: #dce1e5;
  }
  37% {
    background-color: #a0a3a5;
  }
  67% {
    background-color: #dce1e5;
  }
  70% {
    background-color: #a0a3a5;
  }
  73% {
    background-color: #dce1e5;
  }
  76% {
    background-color: #a0a3a5;
  }
  79% {
    background-color: #dce1e5;
  }
}

@keyframes light-2 {
  0% {
    background-color: #dce1e5;
  }
  37% {
    background-color: #a0a3a5;
  }
  67% {
    background-color: #dce1e5;
  }
  70% {
    background-color: #a0a3a5;
  }
  73% {
    background-color: #dce1e5;
  }
  76% {
    background-color: #a0a3a5;
  }
  79% {
    background-color: #dce1e5;
  }
}

@-webkit-keyframes light-3 {
  60% {
    background-color: #a0a3a5;
  }
  65% {
    background-color: #dce1e5;
  }
}

@keyframes light-3 {
  60% {
    background-color: #a0a3a5;
  }
  65% {
    background-color: #dce1e5;
  }
}

@-webkit-keyframes light-4 {}

@keyframes light-4 {}@-webkit-keyframes light-5 {
  30% {
    background-color: #a0a3a5;
  }
  70% {
    background-color: #dce1e5;
  }
  74% {
    background: #a0a3a5;
  }
}@keyframes light-5 {
  30% {
    background-color: #a0a3a5;
  }
  70% {
    background-color: #dce1e5;
  }
  74% {
    background: #a0a3a5;
  }
}

@-webkit-keyframes light-6 {
  30% {
    background-color: #a0a3a5;
  }
  50% {
    background-color: #dce1e5;
  }
  60% {
    background-color: #a0a3a5;
  }
  63% {
    background-color: #dce1e5;
  }
  66% {
    background-color: #a0a3a5;
  }
  69% {
    background-color: #dce1e5;
  }
}

@keyframes light-6 {
  30% {
    background-color: #a0a3a5;
  }
  50% {
    background-color: #dce1e5;
  }
  60% {
    background-color: #a0a3a5;
  }
  63% {
    background-color: #dce1e5;
  }
  66% {
    background-color: #a0a3a5;
  }
  69% {
    background-color: #dce1e5;
  }
}
/*# sourceMappingURL=style.css.map */